spring.application.name=trackly

# Database
spring.datasource.url=jdbc:postgresql://localhost:5432/trackly
spring.datasource.username=YOUR_USERNAME
spring.datasource.password=YOUR_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
spring.jpa.open-in-view=false

# Jackson
spring.jackson.default-property-inclusion=non_null

# JWT
jwt.secret=YOUR_SECRET_KEY_MIN_32_CHARS
jwt.expiration=86400000